{% extends 'web/base.html.twig' %}

{% block title_page %}Global Directory - Doctors Billboard{% endblock %}

{% block classbg %}
    listing-with-map-page
{% endblock %}

{% block content %}

    <style type="text/css">
        .demo {
            margin-top: 40px;
            vertical-align: bottom;
            background-position: center;
            background-size: cover;

        }
        .searchProfile:hover {
            cursor: pointer;
        }
        .listing_info {

            position: relative;
        }
        .listing_img {
            margin-top: -40px;
        }
        .like_post {
            margin-top: 40px;
        }
        .itemSpecialities{
            font-size: 12px !important;
        }

        .mapnavigation a,
        .mapzoom-in:hover,
        .mapzoom-out:hover {
            background: #2F3B59;
        }

        .clear{
            clear:both;
        }
        /*
        .grid-item {
            width: 33%;
            padding: 0 10px;
        }
        */

        /*@media (max-width:768px) {*/


        /*select2 */
        .myFont {
            font-size: 12px;
            line-height: none !important;
        }
        .select2-results__option,
        .select2-selection__choice,
        .select2-selection__choice__remove {
            font-size: 12px;
            line-height: normal !important;
            margin-bottom: 0;
        }
        .select2-selection__placeholder{
            font-size: 12px;
        }

        .select2-selection--multiple {
            overflow: hidden !important;
            height: auto !important;
        }

        /* Make Select2 boxes match Bootstrap3 heights: */
        .select2-selection__rendered {
            line-height: 32px !important;
        }

        .select2-selection {
            height: 34px !important;
        }

        #cleanSearch {
            background: #ee3535 !important;
        }

        .fixedBottom {
            position: absolute;
            left: 0;
            bottom: 0;
            text-align: center;
            width: 100%;
        }

        .#footer {
            padding-right: 40%;
         }
         .footer_bottom {
              text-align: left;
         }

         #holderGrid{
             position:relative;
         }

         .show{
             display:block;
         }
         .hide{
             display:none;
         }

        /*Search*/
         #holderBtnSearch{
             display: table;
             width:35px;
             height:30px;
             background: #09B1EB;
             color:#FFF;
             cursor:pointer;
             z-index:10;
             position:absolute;

         }
         #holderIconSearch{
            display: table-cell;
            vertical-align: middle;
            text-align:center;
         }
         #holderCloseIconSearch{
             /*display:none;*/
         }

        .listing_map_m{
            padding-top:5px;
        }

        .search_wrap{
            position:absolute;
            width:100%;
            left:-105%;
            z-index: 9;
            top:0px;
            display:none;
           box-shadow: 0px 1px 10px 1px rgba(119, 119, 119, 0.45);
            -moz-box-shadow: 0px 1px 10px 1px rgba(119, 119, 119, 0.45);
            -webkit-box-shadow: 0px 1px 10px 1px rgba(119, 119, 119, 0.45);
        }

        .title-search{
            background:#117793;
            color:#FFF;
            text-align:center;
            padding:10px;
            margin-bottom:5px;
        }
        .infoInputSearch{
            font-size:12px;
        }

        .rowFilters{
            padding:5px 2px 2px 2px;
            margin-left: 45px;
            position:absolute;
        }

        span.zoom-minus, span.zoom-plus{
            font-size: 19px !important;
            cursor:pointer;
            margin-left:10px;
        }

        .leaflet-control-zoom{
            padding-top: 60px;
        }

        @media(max-width:1200px) {
            .grid-item {
                width: 50%;
            }
        }

        @media (max-width:900px) {
            .grid-item {
                width: 50%;
            }
        }

        @media (max-width:650px) {
            .grid-item {
                width: 100%;
            }
        }

        @media only screen and (max-width: 900px) {
            .grid-item {
                width: 50%;
            }
            .review_score{
                display:none;
            }
        }

        @media only screen and (max-width: 768px) {
            .grid-item {
                width: 50%;
            }

             #holderBtnSearch{
                width:55px;
                height:50px;
             }

            .rowFilters{
                margin-left: 65px;
                padding-top: 15px;
            }
            .listing_header{
                margin-top: 55px !important;
            }
             .title-search{
                 margin-top: 20px;
             }
        }

        @media only screen and (max-width: 468px) {
            .grid-item {
                width: 100%;
            }
        }
    </style>




    <!-- Listings -->
    <section id="ElemoListing_with_map">
        <div class="ElemoListing_map">
            <div id="map-container">
                <div id="map" data-map-zoom="4" data-map-scroll="true">
                    <!-- map goes here -->
                </div>

            </div>

        </div>

        {# {{ include('web/default/search.html.twig', { 'article': article }) }} #}


        
    </section>

    <!-- /Listings -->
{% endblock %}

{% block codejs %}
    <script>

        $(function () {

            //var vh = $("#holderInputsSearch").height();
            //$("#btnSend").css({"height":(vh-3)+"px"});
            //alert(vh);
        });
    </script>
{% endblock %}