{#
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalShowClient">
  Launch demo modal
</button>
#}
<!-- Modal -->
<div class="modal fade holderModal" id="modalShowClient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-check" aria-hidden="true"></i> {% trans %}clients_info_title_client{% endtrans %}</h4>
      </div>
      <div class="modal-body">
        <div id="holderBodyModal"></div>
      </div>
      <div class="modal-footer">
        
        
        <a href="#" id="btnModalEditClient" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>  {% trans %}general_btn_edit{% endtrans %}</a>
        {#
        <button type="button" value="" id="btnModalLoanClient" class="btn bg-olive btn-flat btnModalLoanClient" ><i class="fa fa-thumbs-up" aria-hidden="true"></i> New Loan</button>
        <button type="button" value="" id="btnModalLoanClient" class="btn btn-info btn-flat btnModalLoanClient" ><i class="fa fa-archive" aria-hidden="true"></i> My Loans</button>
        #}
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>  {% trans %}general_btn_close{% endtrans %}</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade holderModal" id="modalLoans" tabindex="-1" role="dialog" aria-labelledby="myModalLoans">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLoans"><i class="fa fa-address-card-o"></i> Client</h4>
      </div>
      <div class="modal-body">
        <div id="holderBodyModalLoand"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="modalAddAmounts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Adicionar monto</h4>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-md-12 col-lg-6 col-sm-12">
              <div class="form-group">
                <label for="" class=" control-label">Cuando se entregó el nuevo monto?: <span class="text-danger">*</span></label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </div>
                  <div class="">
                    <input type="text" id="inputAADeliveredDate" name="inputAADeliveredDate" required="required" class="form-control datepicker" placeholder="yyyy-mm-dd" autocomplete="off" value="">
                  </div>
                </div>
                <span id="helpBlock2" class="help-block"></span>
              </div>
            </div>
            <div class="col-md-12 col-lg-6 col-sm-12">
              <div class="form-group">
                <label for="" class=" control-label">Fecha proximo pago: <span class="text-danger">*</span></label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </div>
                  <div class="">
                    <input type="text" id="inputAANextPaymentDate" name="inputAANextPaymentDate" required="required" readonly="readonly" class="form-control datepickerXXXXXXX" placeholder="yyyy-mm-dd" autocomplete="off" value="">
                  </div>
                </div>
                <span id="helpBlock2" class="help-block"></span>
              </div>
            </div>
            <div class="col-md-12 col-lg-6 col-sm-12">
              <div class="form-group">
                <label for="" class=" control-label">{# {% trans %}loan_form_requested_amount{% endtrans %} #}Monto adicional: <span class="text-danger">*</span></label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-usd" aria-hidden="true"></i>
                  </div>
                  <div class="">
                    <input type="text" id="inputAAAmount" name="inputAAAmount" required="required" class="form-control" placeholder="" autocomplete="off" value="">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-6 col-sm-12">
              <div class="form-group" id="holderRate">
                <label for="" class=" control-label">{% trans %}loan_form_default_interest_rate{% endtrans %}: <span class="text-danger">*</span></label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-percent" aria-hidden="true"></i>
                  </div>
                  <div class="">
                    <input type="text" id="inputAAInteres" name="inputAAInteres" required="required" class="form-control" placeholder="" autocomplete="off" value="">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-lg-12 col-sm-12">
              <div class="form-group" id="holderRate">
                <label for="" class=" control-label">Comentario (Opcional): </label>
                <div class="">
                  
                  <div class="">
                    <textarea id="inputAAComment" name="inputAAComment" class="form-control" maxlength='225'></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div> 
          
                    
                  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}general_btn_close{% endtrans %}</button>
        <button type="button" class="btn btn-primary" id="btnCreateAddAmounts"><i class="fa fa-check-circle" aria-hidden="true"></i> {% trans %}general_btn_create{% endtrans %}</button>
      </div>
    </div>
  </div>
</div>



<!-- calculate percent -->
<!-- Modal -->
<div id="myModalPercent" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Calcular porcentaje</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="control-label"> Capital a pagar</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-usd" aria-hidden="true"></i>
                </div>
                <input type="text" id="pCapital" class="form-control" autocomplete="off">
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label class="control-label"> Monto de interes a pagar</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-usd" aria-hidden="true"></i>
                </div>
                <input type="text" id="pInterestToPay" class="form-control" autocomplete="off">
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="control-label"> Monto adicional recivido</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-usd" aria-hidden="true"></i>
                </div>
                <input type="text" id="pAditionalAmount" class="form-control" autocomplete="off">
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label class="control-label">Monto de interes resultante</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-usd" aria-hidden="true"></i>
                </div>
                <input type="text" id="pResultAmount" class="form-control" value="0" autocomplete="off" readonly="true">
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <div id="holderResultPercent"></div>
            <p>
              <button type="button" class="btn btn-info btn-md btnShowPercent" id="btnShowPercent" data-toggle="tooltip" data-placement="right" title="" data-original-title="Calcular porcentaje (%)"> Obtener <i class="fa fa-percent" aria-hidden="true"></i> del monto de interes resultante </button>
            </p>
          </div>
        </div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>